{% extends 'base.html' %}

{% block title %}{{ event.title }} | NH Club{% endblock %}

{% block content %}
<h1>{{ event.title }}</h1>
<p><strong>Event Date:</strong> {{ event.event_date }}</p>

<div>
    {{ event.content | safe }}
</div>

<h3>Authors:</h3>
<ul>
    {% for author in authors %}
        <li><a href="{{ url_for('view_member', id=author.id) }}">{{ author.name }}</a></li>
    {% endfor %}
</ul>

<h3>Assistants:</h3>
<ul>
    {% for assistant in assistants %}
        <li><a href="{{ url_for('view_member', id=assistant.id) }}">{{ assistant.name }}</a></li>
    {% endfor %}
</ul>

<h3>Tags:</h3>
<ul>
    {% for tag in tags %}
        <li><a href="{{ url_for('view_tag', id=tag.id) }}">{{ tag.name }}</a></li>
    {% endfor %}
</ul>

<a href="{{ url_for('list_events') }}">Back to events</a>
{% endblock %}
